body{
    margin: 0%;
    margin-top: 175px;
    align-items: center;
    text-align: center;
}

.con1{
    width: 400px;
    height: 200px;
    border: 1px solid rgb(6, 99, 230);
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    background-color: aqua;
    align-items: center;
    text-align: center;
}

.con2{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 50px;
    color: rgb(255, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form{
    margin-top: 20px;
    font-size: 20px;
    color: rebeccapurple;
}

input[type=text]{
    margin-top: 5px;
    font-size: 19px;
    padding-left: 15px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    text-align: center;
}

input[type=text]:hover{
    outline: rebeccapurple;
}


select{
    width: 60%;
    height: 40px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: rebeccapurple;
    background-color: aquamarine;
    border-radius: 10px;
    padding: 2px;

}

input[type=button]{
    width: 80%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgb(43, 226, 137);
    font-size: 25px;
    color: rebeccapurple;
}

h1{
    color: red;
}

#list{
    /* text-align: right; */
    margin-left:  60%;
    margin-right: 0%;
}